./pandas/datatouille-nba-finals-and-mvps
gan/=1.4
data/
gan/MNIST
gan/AutoEncoder_MNIST.pth
gan/FashionMNIST
gan/AutoEncoder_MNIST64MSE.pth
gan/AutoEncoder_MNIST64L1.pth
gan/AutoEncoder_MNIST32MSE.pth
gan/AutoEncoder_MNIST32L1.pth
gan/AutoEncoder_MNIST4MSE.pth
gan/AutoEncoder_MNIST4L1.pth
gan/AutoEncoder_FashionMNIST64MSE.pth
gan/AutoEncoder_FashionMNIST64L1.pth
gan/AutoEncoder_FashionMNIST32MSE.pth
gan/AutoEncoder_FashionMNIST32L1.pth
gan/AutoEncoder_FashionMNIST4MSE.pth
gan/AutoEncoder_FashionMNIST4L1.pth
gan/after_4_bis
gan/mnist_data
large_scale/IO.out
gan/ffhq-dataset
gan/00000

